# This is a comment.
# Blank lines or lines starting with # are ignored.
# Inline comments are not supported.
# This file contains a list of files to exclude from the git-repository.
#
# Official documentation can be found at https://git-scm.com/docs/gitignore
# See also:
# - https://github.com/github/gitignore/blob/master/Python.gitignore
# - https://raw.githubusercontent.com/pypa/sampleproject/master/.gitignore
# - https://stackoverflow.com/questions/tagged/gitignore
#
# Slashes matter:
#   - If there is a slash at the beginning or middle (or both) of the pattern,
#     then the pattern is relative to the directory level of the particular .gitignore file itself.
#     Otherwise the pattern may also match at any level below the .gitignore level.
#
#   - If there is a / at the end of the pattern then the pattern will only match directories,
#     otherwise the pattern can match both files and directories.

#   - Symlinks are always files, even if they point to a dir. So never put a / at the end.

# dev-symlinks to .venv to make bin/python work
/bin
/lib
/pyvenv.cfg

# exclude actual virtual-environment
/.venv/

# exclude toplevel var-dir
/var/

# exclude generated python-directories
__pycache__/
