name: Test

env:
  # Enable colored output
  # https://github.com/pytest-dev/pytest/issues/7443
  PY_COLORS: 1

on:
  pull_request
  push:
    branches:
      - main

permissions:
  contents: read

# Limit concurrency by workflow/branch combination.
#
# For pull request builds, pushing additional changes to the
# branch will cancel prior in-progress and pending builds.
#
# For builds triggered on a branch push, additional changes
# will wait for prior builds to complete before starting.
#
# https://docs.github.com/en/actions/using-jobs/using-concurrency
concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.event_name == 'pull_request' }}

jobs:
  run-tests:
    name: Python tests

    strategy:
      matrix:
        os:
          - ubuntu-latest
        python-version:
          - "3.7"
          - "3.8"
          - "3.9"
          - "3.10"
          - "3.11"
        poetry-version:
          - "1.2.0"
        
        include:
          # Run 3.11 tests with relaxed constraints
          - python-version: "3.11"
            relax: true

      fail-fast: false

    runs-on: ${{ matrix.os }}
    timeout-minutes: 10

    steps:
      - uses: actions/checkout@v3
        with:
          persist-credentials: false
          fetch-depth: 0

      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v4
        with:
          python-version: ${{ matrix.python-version }}
          cache: "poetry"

      - name: Set up Poetry
        run: |
          pip install poetry==${{ matrix.poetry-version }}

      - name: Install packages
        run: |
          poetry self update
          poetry install

      - name: Relax constraints
        if: ${{ matrix.relax }}
        run: |
          poetry self install $(pwd)
          poetry relax --update

      - name: Run tests
        run: |
          pytest tests
